@import '../../styles/main.scss';

.header { 
  &-container {
    background-color: $color-dark-gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &__title {
      color: $color-white;
    }
  }
}