@import '../../../styles/main.scss';

.todo {
  width: 80%;
  min-height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $color-dark-gray;
  color: $color-white;
  border: 2px solid $color-white;

  &-container {
    margin: 7px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__checkbox {
      margin: 5px 0;
      cursor: pointer;
    }

    &__info {
      width: 100%;
      display: flex;
      margin: 0 12px;

      &-text {
        margin: 0;      
      }
      .complited {
        text-decoration: line-through;
      }
    }

    &__remove {
      width: 24px;
      height: 24px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-dark-gray;
      color: $color-white;
      border: 1px solid $color-white;
      outline: none;
      cursor: pointer;
    }
  } 
}